/*attendance table heading css*/
.std_tbl_css{ 
    margin-top: 5px;
    width: 83%;
    float: inline-end; 
}

th,td{
    text-align: center;
    width: fit-content;
}
.attendance_tbl{
    text-align: center;
    font-size: 110%;
}

/*student table profile*/
 .student_tbl_pic{
    height: 25px;
    width: 30px;
    margin: 0%;
    padding: 0%;
    border: 3px solid blue;
    border-radius: 50%;
} 

/*present and absent button */

.attendancebtn{
    color: yellow;
    font-size: 110%;
    background-color: rgb(71, 71, 73);
    padding: 4px 15px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
/* for absent button */
#absent{
    display: none;
}
.leftname{
    text-align: left;
}
#present_checkbox{
    height: 15px;
    width: 50px;
}