/*teacher dashborad enter*/
body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(192, 190, 188);
}
/*teacher top bar css*/
#dash_topbar{
    text-align: center;
    position: fixed;
    background-color: rgb(37, 36, 36);
    width: 100%;
    padding: 0%;
    margin: 0%;
}
/*attendance logo div css*/
.Alogo{
    margin: 0.5% 0% 0% 2%;
    float: inline-start;
    display: inline;
    height: 16%;
    width: 10%;
}
/*attendance logo pic*/
.alogo_pic{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0.8% 0.7%;
    padding: 0.3%;
    background-color: rgb(94, 94, 121);
    border-radius: 5px;  
}
.title_bar_title{
    display: inline;
    font-size: 260%;
    color: yellow;
    text-align: center;
}
/* teacher and admin logout button  */
.logout_btn{
    text-decoration: none;
    background-color: rgb(138, 136, 19);
    font-size: 150%;
    border: 1px solid;
    padding: 0.5%;
    margin: 2%;

}


/*teacher frofile part*/
#idteacher_profile_part{
    padding: 4px 0px 10px 25px;
    float: inline-end;
    margin-right: 7%;
    
}
@media only screen and (max-width: 750px) {
    div#idteacher_profile_part {
      display: none;
    }
  }
#idteacher_pic_part{
    float: inline-start;
}

.teacherPP{
    height: 38px;
    width: 38px;
    display: inline;
    margin: 0px;
    padding: 1px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
}
#idprofile_text{
    float: inline-start;
    color: yellow;
    margin-top: 5%;
    font-size: 160%;
    
}
/* teacher view profile/logout dropdown css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(110, 108, 108);
  min-width: 130px;
  box-shadow: 0 0 16px rgba(0,0,0,20);
  
}

.dropdown-content a{
  float: left;
  color: black;
  padding: 7px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  width: 100%;
}

.show {
  display: block;
}

.dropbtn {
  left: 0;
  margin-top: 15px;
  color: white;
  background-color: transparent;
  font-size: 16px;
  border: none;
  cursor: pointer;
}




